# Notebook description

The role of this notebook is to retrieve data and save it to the local disk.

The API prepared by CodersLab was used https://api-datalab.coderslab.com/api/v2. Including documentation: [click](https://api-datalab.coderslab.com/v2/docs/).

In order to retrieve the relevant data, a list from the `airports.csv` file was used.

 ## Notepad configuration

In [1]:
import pandas as pd 
import requests 
import os
from dotenv import  load_dotenv
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [9]:
load_dotenv("D:\Python\devcontainer\.env") #loading API key from .env file

True

 API configuration

In [3]:
APIKEY = os.getenv("CODERS_PORT_APIKEY")

 Loading the file `airports.csv`

In [3]:
df_airports = pd.read_csv(r'D:\Python\Portfolio_lab\data\airports.csv')

 # Download `Airport`

In [13]:
df_raw_airports = []

for id in df_airports['origin_airport_id']:
    response = requests.get(f'https://api-datalab.coderslab.com/api/v2/airport/{id}', headers={'Authorization': f'{APIKEY}'})
    if response.status_code == 200:
        data = response.json()
        df_raw_airports.append(data)
    else:
        pass

In [14]:
airport_df = pd.DataFrame(df_raw_airports)

In [15]:
airport_df.head()

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME
0,11638,Fresno Air Terminal,"Fresno, CA","FRESNO YOSEMITE INTERNATIONAL, CA US"
1,13342,General Mitchell Field,"Milwaukee, WI","MILWAUKEE MITCHELL AIRPORT, WI US"
2,13244,Memphis International,"Memphis, TN","MEMPHIS INTERNATIONAL AIRPORT, TN US"
3,15096,Syracuse Hancock International,"Syracuse, NY","SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US"
4,10397,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...

Save `airport_df` to `airport_list.csv` file.

In [17]:
airport_df.to_csv('airport_list.csv', index=False)

# Download  `Weather`

In [18]:
start_date = datetime(2019, 1, 1)
end_date = datetime(2020, 3, 31)

dates = []


date = start_date
while date <= end_date:
    dates.append(date.strftime('%Y-%m'))
    date += relativedelta(months=1)

In [19]:
df_raw_weather = []
timer = 0


for date in dates:
    response = requests.get(f'https://api-datalab.coderslab.com/api/v2/airportWeather?date={date}', headers={'Authorization': f'{APIKEY}'})
    data = response.json()
    df_raw_weather.append(data)

In [20]:
airport_weather_df = pd.DataFrame([dictt for list in df_raw_weather for dictt in list])

In [21]:
airport_weather_df.head()

,WT18,STATION,NAME,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,...,PGTM,WT10,WESD,SN32,SX32,PSUN,TSUN,TOBS,WT07,WT11
0,None,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-01,4.70,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-02,4.92,0.57,0.0,0.0,56.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-03,5.37,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-04,12.08,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-05,13.42,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Save `weather_df` to `airport_weather.csv` file.

In [23]:
airport_weather_df.to_csv('airport_weather.csv', index=False)

 # Download `Aircraft`

In [4]:
response = requests.get(f'https://api-datalab.coderslab.com/api/v2/aircraft', headers={'Authorization': f'{APIKEY}'})
data = response.json()

In [5]:
aircraft_df = pd.DataFrame(data)

In [7]:
aircraft_df.head()

   MANUFACTURE_YEAR TAIL_NUM  NUMBER_OF_SEATS
0              1944   N54514              0.0
1              1945   N1651M              0.0
2              1953   N100CE              0.0
3              1953   N141FL              0.0
4              1953   N151FL              0.0

Save `aircraft_df` to `aircraft.csv` file.

In [9]:
aircraft_df.to_csv('aircraft.csv', index=False)

 # Download `Flight`

In [3]:
start_date = datetime(2019, 1, 1)
end_date = datetime(2020, 3, 31)

dates = []


date = start_date
while date <= end_date:
    dates.append(date.strftime('%Y-%m'))
    date += relativedelta(months=1)

In [7]:
df_airports.head()

   origin_airport_id
0              10874
1              11233
2              13360
3              15008
4              11638

In [8]:
flight_data = []

for airport_id in df_airports['origin_airport_id']:
    for date in dates:
        response = requests.get(f'https://api-datalab.coderslab.com/api/v2/flight?airportId={airport_id}&date={date}', 
                        headers={'Authorization': f'{APIKEY}'})
        if response.status_code == 200:
            f_data = response.json()
            flight_data.append(f_data)
        elif response.status_code == 204:
            pass

In [9]:
flight_df = pd.DataFrame([dictt for list in flight_data for dictt in list])

In [17]:
flight_df.shape

(1386120, 27)

In [18]:
flight_df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,DEP_TIME,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,YEAR,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,20,7,WN,N204WN,682,10397,11292,605,602.0,...,205,204.0,1199,5,2019,NaN,NaN,NaN,NaN,NaN
1,1,20,7,WN,N8682B,2622,10397,11292,2120,2114.0,...,210,205.0,1199,5,2019,NaN,NaN,NaN,NaN,NaN
2,1,20,7,WN,N717SA,2939,10397,11292,1800,1807.0,...,210,220.0,1199,5,2019,4.0,0.0,10.0,0.0,3.0
3,1,20,7,WN,N709SW,3848,10397,11292,1355,1354.0,...,205,204.0,1199,5,2019,NaN,NaN,NaN,NaN,NaN
4,1,20,7,WN,N7864B,1352,10397,11697,1125,1125.0,...,120,124.0,581,3,2019,NaN,NaN,NaN,NaN,NaN

Save `flight_df` to `flight.csv` file.

In [15]:
flight_df.to_csv('flight2.csv', index=False)